@import "./globals.module.css";

.header {
  background-color: var(--bg-header);
  color: var(--text-secondary);
  height: 5vw;
  padding: 0.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header > h2 {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
  font-size: 3vw;
}
.header > div {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  align-items: center;
  gap: 2vw;
  font-family: "Rubik";
}

.footer {
  background-color: rgb(60, 59, 59);
}

.link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.link:visited {
  color: var(--color-off-white);
}
