.header {
  background-color: red;
  height: 5vw;
  padding: 0.5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
}

img {
  width: 100%;
}

.footer {
  background-color: rgb(60, 59, 59);
}
