@import "./globals.module.css";

.item {
  width: 20vw;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: space-between;
  background-color: var(--bg-card);
  border-radius: 20px;
  padding-top: 10px;
}

.addToCart {
  composes:
    btnPrimary from "./globals.module.css",
    btn from "./globals.module.css";

  border-radius: 20px;
}
img {
  width: 15vw;
  aspect-ratio: 1/1;
}
.item > img {
  align-self: center;
}

.increment {
  composes:
    btnGhost from "./globals.module.css",
    btn from "./globals.module.css";
}
.decrement {
  composes:
    btnGhost from "./globals.module.css",
    btn from "./globals.module.css";
}

.amountWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  gap: 5px;
}
.price {
  align-self: flex-end;
}
